@import "color_schem";

.button {
  display: inline-block;
  border: 1px $button-color solid;
  border-radius: 5px;
  padding: 4px 6px;
  text-decoration: none;
  
  margin: 5px;
  

  &.empty {

  }
}

