@import "color_schem";

.button {
  display: inline-block;
  border: 1px $blue-color solid;
  border-radius: 4px;
  padding: 4px 6px;
  text-decoration: none;
  background-color: #0066FF;
  margin: 5px;
  color: #FFF;

  &.empty {

  }
}

div#addbtn {
  margin: 0;
  padding: 0;
  display: inline;

  p {
  color: red;
  }
}

#btn {
  display: inline-block;
}

#retbtn {
  display: inline-block;
}