@import 'color_schem';

div#main {
  background: #fff;
  
  min-height: 500px;
  overflow: hidden;
  div#container {
    width: 100%;

    section#content {
      border-left: 1px solid #808080;
      padding-left: 30px;
      width: 800px;
      margin: auto;

      h1 {
        margin: 0;
        padding: 0 0 20px 0;
      }

      img {
        float: left;
        margin: 30px 40px 20px 0;

      }
     
    }
  }
}  



aside#sidebar {
  width: 200px;
  height: 100%;
  float: left; 
  padding-top: 20px;
  a.button {
    width: 130px;
    text-align: center;
    
    &:hover {
      background-color: #e0e0d1;
      color: #000000;
      border-color: $button-color;
      text-decoration: none;
    }
    }
}

header#pheader {
  background-color: $green-color;
  padding: 0px 25px;

  h1 a {
    height: 50px;
    padding: 20px;
    display: block;
    font-family: "Esteban", sans-serif;
    color: #000;
    text-decoration: none;
    overflow: hidden;
    background: image-url("sadalogo.png") no-repeat 10px 10px;
  }


  div#headernav {
    margin: 0 auto;
    width: 960px;
    position: relative;
    text-color: #000;

    h1 {
      margin: 0;
      color: #fff;
      line-height: 60px;
    }

    nav {
      margin: 0;
      position: absolute;
      color: blue;
      top: 0;
      right: 0;
      height: 60px;
      a {
        color: #FFF;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
 
footer#p-footer { 
  padding: 5px; 
  color: $grey-color; 
  background: $green-color;
  border-top: 5px solid darken($button-color, 5%);

  p {
    text-align: center;
  }
}

#prod_links {
  margin-bottom: 1cm;	
}

div.field_with_errors {
  label {
    color: $erros-color;
  }

  input, textarea, select {
    background: $areas-color;
  }
}

fieldset {
    width: 400px;
    height: 570px;
    background: $form_color;
    border-radius: 15px;
    display: block;

    li {
      display: block;
    }

      label {
    font-size: 1.2em;
    display: block;
    margin-bottom: .25em;
  }
}

div.form_wrapper {
  padding-left: 50px;
  margin-bottom: 15px;
}

  ol {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin: 0 0 20px 0;
      padding: 0;
      margin-bottom: 5px;

      &.required label {
        font-weight: bold;
      }
    }
  }

section#error_messages {
  width: 425px;
  border-radius: 15px;
  background: $form_color;
  h3 {
    color: red;
    margin-left: 10px;
  }

  h2 {
    margin: 10px 0  0 10px;
  }
} 

#new_prod {
  color: red;
}

.flash {
  border-radius: 4px;
  padding: 20px;
  width: 500px;
  height: 20px;
  text-align: center;
  text-transform: uppercase;
  
  &.notice {
    background-color: $notice-color;
  }

  &.alert {
    background-color: red;
  }
}

.total_value {
  position: relative;
  left: 90px;

  .tot {
    font-weight: bold;
    border-top: 1px solid #000;
  }
}

div#cart {
  float: right;
  position: relative;
  top: 30px;
  right: 5px;
  bottom: 0;
  left: 0;
}

#cart-buttons {
  margin-top: 5px;
}


#user-cart {
  width: 300px;
  float: right;
}  

#productCont {
  margin: 10px;
  right: 20px;
}

.boxfield {
  width: 500px;
}

div#instock {
  color: green;
}

div#outstock {
  color: red;
}

