@import 'color_schem';

a.button {
  border: 1px $green-color solid;
  border-radius: 4px;
}

header#p-header { 
  padding: 7px; 
  color: $grey-color; 
  background: $green-color;
  border-bottom: 5px solid darken($blue-color, 5%);

  h1 {
    text-align: center;
  }
}
 
footer#p-footer { 
  padding: 5px; 
  color: $grey-color; 
  background: $green-color;
  border-top: 5px solid darken($blue-color, 5%);

  p {
    text-align: center;
  }
}

aside.p-aside {
  float: top; 
  background: $grey-color; 
  width: 300px;	
  height: 300px;
}

#prod_links {
  margin-bottom: 1cm;	
}

div.field_with_errors {
  label {
    color: $erros-color;
  }

  input, textarea, select {
    background: $areas-color;
  }
}

fieldset {
    width: 400px;
    height: 470px;
    background: $form_color;
    border-radius: 15px;
    display: block;

    li {
      display: block;
    }

      label {
    font-size: 1.2em;
    display: block;
    margin-bottom: .25em;
  }
}

div.form_wrapper {
  padding-left: 50px;
  margin-bottom: 15px;
}

  ol {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin: 0 0 20px 0;
      padding: 0;
      margin-bottom: 5px;

      &.required label {
        font-weight: bold;
      }
    }
  }

section#error_messages {
  width: 425px;
  border-radius: 15px;
  background: $form_color;
  h3 {
    color: red;
    margin-left: 10px;
  }

  h2 {
    margin: 10px 0  0 10px;
  }
} 

#new_prod {
  color: red;
}

.flash {
  border-radius: 4px;
  padding: 20px;
  margin-left: 400px;
  width: 300px;
  height: 20px;
  text-align: center;
  text-transform: uppercase;
  
  &.notice {
    background-color: $notice-color;
  }

  &.alert {
    background-color: red;
  }
}

.total_value {
  position: relative;
  left: 90px;

  .tot {
    font-weight: bold;
    border-top: 1px solid #000;
  }
}

div#cart {
  float: right;
  position: relative;
  top: 30px;
  right: 5px;
  bottom: 0;
  left: 0;
}