<div style="float: right">
	<aside class="p-aside">
	  <nav>
	    <ul>
	      <li>
	        <%= link_to "View cart", products_path %>
	      </li>
	    </ul>
	  </nav>
	</aside>
	<aside class="p-aside">
	  <nav>
	    <ul>
	      <li>
	        <%= link_to "All products", products_path, class: 'button'%>
	      </li>
	      <li>
	        <%= link_to "Add new product", new_product_path(@product), class: 'button' %>
	      </li>
	    </ul>
	  </nav>
	</aside>
</div>