
  <aside id="sidebar">
	<nav>
	  <ul>
	    <li>
	      <%= link_to "Add new product", new_product_path(@product), class: 'button' %>
	    </li> 
	    <li>
	      <%= link_to "Orders", orders_url, class: 'button' %>
	    </li>
	    <li>
          <%= link_to "Users", users_path, class: 'button' %>
	    </li>  
	  </ul>  
	</nav>
  </aside>
