<div>
  <aside class="p-aside">
	<nav>
	  <p>
	    <%= link_to "Add new product", new_product_path(@product), class: 'button' %>
	  </p> 
	  <p>
	    <%= link_to "Orders", orders_url, class: 'button' %>
	  </p>
	  <p>
        <%= link_to "Users", users_path, class: 'button' %>
	  </p>  
	</nav>
  </aside>
</div>