<div>
  <aside class="p-aside">
	<nav>
	  <ul>
	    <%= link_to "Add new product", new_product_path(@product), class: 'button' %>
	  </ul> 
	  <ul>
	    <%= link_to "See orders", orders_url, class: 'button' %>
	  </ul>  
	</nav>
  </aside>
</div>