<div style="float: right">
	<aside class="p-aside">
	  <nav>
	    <ul>
	      <li>
	        <%= link_to "View cart", @cart %>
	      </li>
	        <% if @cart %>
	          <p>You have <%= pluralize(@cart.product_items.count, 'product')  %> in your shopping cart</p>
	        <% end %>  
	    </ul>
	  </nav>
	</aside>
	<aside class="p-aside">
	  <nav>
	    <ul>
	      <li>
	        <%= link_to "All products", products_path, class: 'button'%>
	      </li>
	      <li>
	        <%= link_to "Add new product", new_product_path(@product), class: 'button' %>
	      </li>
	    </ul>
	  </nav>
	</aside>
</div>